/* Webfonts ==================================================================== */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff)
      format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"),
    url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff)
      format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"),
    url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff)
      format("woff");
}

/* Base styles ============================================================== */
.flex { display:flex; }

.mainContainer {
  font: 100%/1 "Lato", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #222;
  position: relative;
  min-height: 100%;
}
.flex a {
  text-decoration: none;
}
.flex a:hover {
  text-decoration: underline;
}

/* Containers =============================================================== */
.sidebar,
.demo {
  opacity: 0;
  transition: opacity 0.5s;
  height: 100%;
}
.sidebar,
.demo {
  opacity: 1;
  transition: opacity 0.3s;
}

.sidebar {
  display: flex;
  user-select: none;
  position: relative;
  z-index: 1000; /* Sometimes the demo can get a little out of control. Make sure the sidebar is always visible */
  flex-direction: column;
  width: 20rem;
  background: whitesmoke;
}
.demo {
    overflow: auto;
    margin: 0;
}

.gridContainer {
  flex: 1;
  padding: 0.5rem;
  display: grid;
}
.gridItem {
  border-radius: 0.25rem;
  margin:.25rem;
  font-size:1.5em;
  padding:1rem 1.5rem;
}
.gridItem.selected {
  box-shadow: inset 0px 0px 7rem #777;
}

.gridItem:focus { outline:0; color:rgba(0,0,0,.4); animation:shake .25s infinite; }
@keyframes shake { 25%{ transform:rotate(-1deg); } 50%{ transform:translateY(-1px); } 75%{ transform:rotate(2deg); } }



/* Controls (menu.controls) ================================================= */
.controls {
  flex: 1;
}
.controls {
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.controlSection {
  justify-content: flex-end;
  flex-grow: 1;
  padding: 1rem;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.inputContainer input {
   width: 50%;
}

.inputContainer input + input {
  margin-top: 1rem;
}

.controls:hover .indiv-controls {
  background: #e1e1e1;
}

.controls code {
  display: block;
  text-align: right;
  align-self: center;
  font-size: 1rem;
  transition: opacity 0.5s;
}
.controls code + code {
  padding-top: 1rem;
}
.minimized .controls code {
  opacity: 0.2;
  pointer-events: none;
}

.controls select,
.controls input,
.count-control {
  display: inline-block;
  font: 1.1rem/1 monospace;
  background: #e1e1e1;
  border-radius: 0.25rem;
  border: 0;
  text-align: center;
  padding: 0.375rem;
  transition: opacity 0.25s;
}
.controls select {
  font-size: 0.9rem;
  width: 8rem;
}

select:hover,
input:hover,
.count-control:hover {
  background: #ddd;
}
select:focus,
input:focus {
  background: #ffb;
  outline: 0;
}
.small {
  width: 3rem;
}
.mid {
  width: 5rem;
}

.count-control {
  cursor: pointer;
  font-weight: bold;
}
.count-control:active {
  background: #ffb;
}

.tip {
  position: relative;
}
.tip:hover:before,
.tip:hover:after {
  display: block;
  position: absolute;
  background: #555;
  text-align: center;
  z-index: 1000;
}

.tip:hover:before {
  content: "";
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  top: 27px;
  left: 22px;
}

.tip:hover:after {
  content: attr(data-tip);
  color: whitesmoke;
  top: 31px;
  left: 0;
  width: 110px;
  font-size: 14px;
  padding: 10px;
  line-height: 1.36;
  box-sizing: border-box;
}

.largeTip:hover:before {
  top: -11px;
  left: 60px;
}

.largeTip:hover:after {
  top: -65px;
  width: 300px;
}
.largeTipBottom:hover:before {
  top: auto;
  bottom: -11px;
  left: 60px;
}

.largeTipBottom:hover:after {
  top: auto;
  bottom: -46px;
  width: 300px;
}

.flexBasisTip:hover:after {
  width: 260px;
  left: -150px;
}