.image {
    border: 10px solid #c00;
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    margin-bottom: 30px;
    width: 150px;
    height: 100px;
}