@media (min-width:1400px) and (min-height:670px) {
    .text p{ 
        max-width: 250px;
    }
    .text {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       max-height: 50vh;
     
    }
}