.container {
    background-image: linear-gradient(to right, rgba(204, 0, 0, 0.5), #eee 20%);
    border: 1px solid #c00;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  
  .article {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      height: 100%;
  }
  
  .header {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
  }
  
  .wrapper {
      flex: 1;
  }
  
  .title {
      flex: 1;
      margin: 0 0 20px;
      color: #c00;
  }
  
  .text {
    font-size: 12px;
    margin: 0 0 20px;
  }
  
  .time {
    font-weight: bold;
  }
  
  .link {
    color: #c00;
  }