.container {
  background-image: linear-gradient(to right, rgba(204, 0, 0, 0.5), #eee 20%);
  border: 1px solid #c00;
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

.article {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
}

.wrapper {
  flex: 1;
}

.title {
  color: #c00;
  font-size: 2em;
  margin: 0 0 20px;
}

.text {
  font-size: 12px;
  margin: 0 0 20px;
}

.time {
  font-weight: bold;
}

@media screen and (min-width: 525px) {
  .container {
    padding: 20px;
  }
  .title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 800px) {
  .container {
    padding: 15px;
  }
  .title {
    font-size: 1em;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    padding: 10px;
  }
  .title {
    font-size: 0.8em;
  }
}
