.articleListItem{
	border:2px solid #d40416;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	height: 450px;
	background-image: linear-gradient(90deg, #f294a9, white 4%);
}

.articleText{
	padding-left: 10px;
	padding-bottom: 20px;
}

.articleDateAndAuthor{
	padding-left: 10px;
}

