.article_Title{
    color: red;
}

.article_Date_Author{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}

.articleListItem{
    border: 2px solid red;
    position: relative;
    height: 150px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}