.container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    min-height: 100%;
    font-size: 10px;

}

@media (min-width: 600px) {
    .container{
        display: block;
        font-size: 10px;
    }
}

@media (min-width: 750px) {
    .container{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        min-height: 100%;    
    }
}

@media (min-width: 1000px) {
    .container{
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        min-height: 100%;    
    }
}

section{   
    background-image:linear-gradient(to right, rgb(218,0,0),white 20%);
    border: 1px solid FireBrick;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 10rem;
    writing-mode: horizontal-tb;
}

.title{
    color: FireBrick;
    font-size: 30px;
    margin: 0;
}

.time {
    font-weight: bold;
}

.img{
    width: 20%;
    margin: 1.66%;
    margin-bottom: 30px;
    float: left;
}