.articleListItem{
	border:2px solid red;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	margin-top: 40px;
	margin-right: 40px;
	position: relative;
	height: 200px;
	box-shadow: 0 10px 20px -10px black;
	background-image: linear-gradient(90deg, #f294a9, white 3%);
}

.articleDateAndAuthor{
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 10px;
}
