html {
  font-size: 10px;
}

body {
  background: #ccc;
  font-size: 2rem;
  padding-bottom: 5rem;
}

#firefox-svg {
  width: 30rem;
}

#background-firefox-svg {
  width: 30rem;
  height: 30rem;
  background-image: url(firefox.svg);
  text-indent: -99999rem;
}

#background-firefox-png {
  background-image: url(firefox.png), url(treefrog.jpg);
  background-repeat: no-repeat, repeat-x;
}

#circle2 circle {
  fill: #0c0;
  stroke: #cc0;
}
#circle2 circle:hover {
  fill: #cc0;
  stroke: #0c0;
}
#background-circle-datauri {
  width: 40rem;
  height: 70rem;
  text-indent: -99999rem;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNlPSJodHRwOi8vc3ZnLWVkaXQuZ29vZ2xlY29kZS5jb20iIGRhdGEtbmFtZT0iQ2lyY2xlIC0gTGFyZ2UiPgogICAgICA8IS0tIENyZWF0ZWQgd2l0aCBTVkctZWRpdCAtIGh0dHBzOi8vZ2l0aHViLmNvbS9TVkctRWRpdC9zdmdlZGl0LS0+CiAgICAgIDxnIGlkPSJjaXJjbGUxIiBjbGFzcz0ibGF5ZXIiPgogICAgICAgIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICAgICAgICA8Y2lyY2xlIGN4PSIxNzUuNSIgY3k9IjI3MS41IiBmaWxsPSIjRkYwMDAwIiBpZD0ic3ZnXzMiIHI9IjEzMS4yNDQwNSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjUiLz4KICAgICAgPC9nPgo8L3N2Zz4=");
}
#background-circle-datauri-inline {
  width: 40rem;
  height: 70rem;
  text-indent: -99999rem;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='1024' height='1024' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' xmlns:se='http://svg-edit.googlecode.com' data-name='Circle - Large'%3e%3c!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit--%3e%3cg id='circle1' class='layer'%3e%3ctitle%3eLayer 1%3c/title%3e%3ccircle cx='175.5' cy='271.5' fill='%23FF0000' id='svg_3' r='131.24405' stroke='%23000000' stroke-width='5'/%3e%3c/g%3e%3c/svg%3e");
}
html {
  font-size: 10px;
}

body {
  background: #ccc;
  font-size: 2rem;
  padding-bottom: 5rem;
}

#firefox-svg {
  width: 30rem;
}

#background-firefox-svg {
  width: 30rem;
  height: 30rem;
  background-image: url(firefox.svg);
  text-indent: -99999rem;
}

#background-firefox-png {
  background-image: url(firefox.png), url(treefrog.jpg);
  background-repeat: no-repeat, repeat-x;
}

#circle2 circle {
  fill: #0c0;
  stroke: #cc0;
}
#circle2 circle:hover {
  fill: #cc0;
  stroke: #0c0;
}
#background-circle-datauri {
  width: 40rem;
  height: 70rem;
  text-indent: -99999rem;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNlPSJodHRwOi8vc3ZnLWVkaXQuZ29vZ2xlY29kZS5jb20iIGRhdGEtbmFtZT0iQ2lyY2xlIC0gTGFyZ2UiPgogICAgICA8IS0tIENyZWF0ZWQgd2l0aCBTVkctZWRpdCAtIGh0dHBzOi8vZ2l0aHViLmNvbS9TVkctRWRpdC9zdmdlZGl0LS0+CiAgICAgIDxnIGlkPSJjaXJjbGUxIiBjbGFzcz0ibGF5ZXIiPgogICAgICAgIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICAgICAgICA8Y2lyY2xlIGN4PSIxNzUuNSIgY3k9IjI3MS41IiBmaWxsPSIjRkYwMDAwIiBpZD0ic3ZnXzMiIHI9IjEzMS4yNDQwNSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjUiLz4KICAgICAgPC9nPgo8L3N2Zz4=");
}
#background-circle-datauri-inline {
  width: 40rem;
  height: 70rem;
  text-indent: -99999rem;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='1024' height='1024' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' xmlns:se='http://svg-edit.googlecode.com' data-name='Circle - Large'%3e%3c!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit--%3e%3cg id='circle1' class='layer'%3e%3ctitle%3eLayer 1%3c/title%3e%3ccircle cx='175.5' cy='271.5' fill='%23FF0000' id='svg_3' r='131.24405' stroke='%23000000' stroke-width='5'/%3e%3c/g%3e%3c/svg%3e");
}
