.newsFooter{
	background-color: #d40416;
	color: white;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 40px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
}

.footerText{
	position: relative;
    top: 0px;
    right: 0px;
    font-style: italic;
}